.App {
	text-align: center;
	overflow: hidden;
}
body {
	overflow: hidden;
	background-color: #020024;
}
/* Customizes the whole scrollbar */
::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

/* Customizes the background of the scrollbar track */
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0); /* color of the tracking area */
}

/* Customizes the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0); /* color of the thumb */
	border-radius: 6px; /* roundness of the corners */
}

/* Changes the thumb color on hover or when being clicked */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0); /* color when hovered */
}
::-webkit-scrollbar-track-piece {
	background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-button {
	background: rgba(0, 0, 0, 0);
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #000000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
